:root {
  --primary-text-color: #212121;
  --white-text-color: #ffffff;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #f5f5f5;
  --section-background-color: #f5f4fa;
  --blok-background-color: #eeeeee;
  --footer-color: #2f303a;
}
/* Основний колір фону та тексту */
.page {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
button {
  font-family: inherit;
  font-size: 16px;
  color: inherit;
  cursor: pointer;
}

/* Хедер */
.header {
  background-color: var(--white-text-color);
}
.logo,
.logo-footer,
.partlogo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo {
  color: #000000;
}
.logo-footer,
.address-footer {
  color: var(--white-text-color);
}
.partlogo {
  color: var(--accent-color);
}
/* Хедер Посилання на інші сторінки сайту емейл та телефон */

.site-nav .link {
  color: var(--primary-text-color);
}
.site-nav .contact {
  color: var(--title-text-color);
}

.site-nav .contact:focus,
.site-nav .contact:hover,
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current,
.address-footer:focus,
.address-footer:hover,
.mail-footer:focus,
.mail-footer:hover,
.tel-footer:focus,
.tel-footer:hover {
  color: var(--accent-color);
}

.site-nav .link,
.site-nav .contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

ul {
  list-style: none;
}
/* Переваги веб студії h3*/

.title-capletters {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* h2  */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.title-text,
.site-nav .contact {
  color: var(--title-text-color);
}

/* Наша команда */
.section-team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
}

.section-team .title-text {
  font-size: 16px;
  line-height: 1.19;
}

/* Приклади робіт */
.title.examples {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-examples .title-text {
  font-size: 16px;
  line-height: 1.87;
}
/* Hero */
/* Ефективні рішення для вашого бізнесу */
.hero,
.footer {
  background-color: #2f303a;
}
.main-headline {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* text-align: center; */
  letter-spacing: 0.06em;
}

.main-headline {
  text-transform: uppercase;
}

/* Кнопки в портфоліо фільтр робіт*/

.second-button {
  background-color: var(--section-background-color);
  font-weight: 500;
  line-height: 1.62;
  border: none;
}
.second-button:focus,
.second-button:hover {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.main-button {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.address-footer,
.mail-footer,
.tel-footer {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}
.mail-footer,
.tel-footer {
  color: rgba(255, 255, 255, 0.6);
}
